<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 配置 -->


    <!--引入外部配置文件-->
    <properties resource="db.properties" />

    <settings>
        <setting name="logImpl" value="LOG4J"></setting>
    </settings>

    <typeAliases>
        <typeAlias alias="reader" type="po.Reader"/>
    </typeAliases>

    <environments default="develop"><!-- 配置环境 -->
        <environment id="develop"><!-- 环境变量 -->
            <!-- 事务管理器 -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <!--注入映射器:指定带有注解的dao接口所在位置-->

</configuration>