<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.Shopping_cartMapper">

    <select id="findShoppingCartId" resultType="java.lang.Integer">
        select id from shopping_cart where user_id =#{userId}
    </select>

    <select id="findShoppingCartById" resultMap="shoppingCartMap">
        select c.id cid,c.total cart_total,i.book_id ,i.num
        from shopping_cart c,shopping_cart_item i
        where c.id = #{cartId} and i.shopping_cart_id = c.id
    </select>

    <resultMap id="shoppingCartMap" type="com.example.springboot.entity.Shopping_cart">
        <result property="id" column="cid"></result>
        <result property="userId" column="user_id"></result>
        <result property="total" column="cart_total"></result>
        <collection property="items" ofType="com.example.springboot.entity.Shopping_cart_item">
            <result property="id" column="id"></result>
            <result property="shoppingCartId" column="shopping_cart_id"></result>
            <result property="bookId" column="book_id"></result>
            <result property="num" column="num"></result>
            <association property="book" javaType="com.example.springboot.entity.Book" column="book_id"
                         select="com.example.springboot.mapper.BookMapper.findBooksById" />
        </collection>

    </resultMap>

</mapper>